:root {
  /* colour variables */
  /* --lapis: rgb(15, 44, 207); */
  --lapis: #6200ee;
  /* --char: #CBE14B; */
  --char: #cbe14b;
  --tangerine: #f38118;
  --charc: rgb(63, 57, 70);
  --dusk: #d783e4;

  /* spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
  --space-gutter: 9.125rem;
  /* Fonts  */

  --body-font: "Roboto", sans-serif;
  --headings: "Futura", serif;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--space-m);
}

.nav {
  width: 100%;
  overflow: auto;
  font-size: var(--space-m);
  justify-content: space-evenly;
  display: flex;
  padding-bottom: 2rem;
}

ul {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  list-style-type: none;
  /* display: flex; */
  justify-content: space-between;
}

li {
  display: flex;
  padding: 1em 2em 0 0;
  text-decoration: none;
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: var(--lapis);
}

a {
  text-decoration: none;
  color: var(--lapis);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--lapis);
  text-decoration: underline;
}

/* offset anchor link landing position to allow some white space */
h2:before {
  display: block;
  content: " ";
  margin-top: -5.5rem;
  height: 5.5rem;
  visibility: hidden;
  pointer-events: none;
  z-index: -2;
}

/* box v1 */
.header,
.about,
.testimonial,
.work,
.notes,
.contact {
  position: relative;
  width: 70vw;
  margin-bottom: 4em;
  background: rgba(255, 255, 255);
  box-shadow: -15px -15px 0px var(--lapis), 10px 10px 10px rgba(0, 0, 0, 0.144);
  padding: 2em;
  border: 1px solid var(--lapis);
}

/* box v2 */
.about,
.work {
  background: rgba(255, 255, 255);
  box-shadow: -15px -15px 0px var(--char), 10px 10px 10px rgba(0, 0, 0, 0.144);
  border: 1px solid var(--char);
}

.work {
  color: var(--char);
}

.contact {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial {
  border: 1px solid var(--lapis);
}

.testimonial,
.testimonial > h1 {
  color: var(--char);
  text-align: center;
}

.testimonial > p {
  color: rgba(255, 255, 255, 0.788);
  /* font-weight: bold; */
}

.parallax {
  background-image: url("../assets/reda-balloons2.png");
  min-height: 27rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2em;
  border: 1px solid var(--charc);
  background: white;
}

.project-image-container {
  /* height: calc( calc(100vw - 2em) * 0.66); */
  overflow: hidden;
}

.project-image {
  width: 200%;
  /* height: 70%; */
  object-fit: cover;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-article > p,
.project-article > a {
  padding-left: 1em;
  font-size: 0.9em;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-wrapper > a {
  font-size: var(--space-l);
  padding: var(--space-m);
}

.headshot-wrapper {
  display: flex;
  align-items: flex-end;
}

.fa,
.far,
.fas,
.fab {
  padding-right: 1em;
}

.figure {
  /* float: right; */
  height: 60vh;
  position: absolute;
  /* width: 429.05px;
    height: 643px; */
  left: 900px;
  top: 84px;
  z-index: 2;
}

.ts-logo {
  width: 9%;
  padding: 0 1em 1em 0;
  opacity: 0.6;
}

.stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 1.5em;
}

.leaf-green {
  position: absolute;
  left: 2em;
  top: 23rem;
}

.leaf-pink {
  position: absolute;
  right: 1em;
  top: 33rem;
}

.R-logo {
  position: fixed;
  top: 6rem;
  left: calc(9% - 80px);
  z-index: 10;
  mix-blend-mode: difference;
}

.headshot {
  height: 50vh;
  width: auto;
  /* box-shadow: -15px -15px 0px var(--dusk), 10px 10px 10px rgba(0, 0, 0, 0.144); */
  border: 1px solid var(--dusk);
}

h1,
h2 {
  font-family: var(--headings);
  font-size: var(--space-xl);
}

h1 {
  margin-top: var(--space-xl);
  color: var(--lapis);
  /* color: var(--charc); */
}

h2 {
  color: var(--lapis);
  margin-bottom: 0.5em;
}


header > h2 {
  font-size: 4em;
  flex-wrap: wrap;
  color: var(--charc);
}

/* choose between charc and multi-coloured h2 header text  */
header > h2:hover {
  background: -webkit-linear-gradient(
    16.3deg,
    var(--dusk) 10%,
    var(--lapis) 20.65%,
    var(--lapis) 35%,
    var(--tangerine) 55.65%,
    var(--tangerine) 60.52%,
    rgb(160, 187, 25) 70.65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1.2rem;
  margin-bottom: var(--space-l);
  color: var(--charc);
}

.tagline {
  width: 50vw;
}

footer {
  padding: 2rem 0rem 2rem 0rem;
  background-color: var(--charc);
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer > h3 {
  color: rgb(229, 226, 226);
  font-size: 0.8rem;
}

button {
  font-size: var(--space-m);
  line-height: 24px;
  text-align: center;
  font-family: var(--body-font);
  text-transform: uppercase;
  width: 16rem;
  height: 3rem;
  margin-right: var(--space-l);
  margin-top: var(--space-l);
  cursor: pointer;
  z-index: 10;
}

button:hover {
  background: var(--char);
  color: var(--lapis);
  box-shadow: 4px 4px var(--lapis);
}

.btn-primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--lapis);
  border: 3px solid var(--lapis);
  box-sizing: border-box;
  color: white;
}

.btn-secondary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--lapis);
  color: var(--lapis);
}

span.waving {
  animation-name: waving;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(7deg);
  }
}

@media (min-width: 600px) {
  .project-article {
    width: 25rem;
    margin-right: 1em;
    margin-bottom: 1em;
    /* padding: 1em; */
  }
}
